.settings-form{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}

.settings-form-left{
    width: 50%;
    max-width: max(50%,500px);
}

.settings-form-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.settings-form-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: purple;
}

.settings-form-left .info-inputs{
    display: flex;
    gap: 15px;
}

.settings-form-right{
    width: 40%;
    max-width: max(40%,500px);
    display: flex;
    flex-direction: column;
    margin-top: 5.1rem;
}

.settings-form-right button{
    margin-top: 30px;
}

.settings-form-right h2{
    font-size: 30px;
    font-weight: 600;
}

.settings{
    background-color: white;
    border: 2px solid black;
    padding: 1% 3.5% 6% 3.5%;
    margin: 20px 20px 20px;
    border-radius: 20px;
    height: 31rem;
}