.profile-form{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.profile-form-left{
  width: 50%;
  max-width: max(50%,500px);
}

.profile-form-left .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile-form-left .info-inputs{
  display: flex;
  gap: 15px;
}

.profile-form-right{
  width: 40%;
  max-width: max(40%,500px);
  display: flex;
  flex-direction: column;
  margin-top: 5.1rem;
}

.profile-form-right h2{
  font-size: 30px;
  font-weight: 600;
}

.profile{
  background-color: white;
  border: 2px solid black;
  padding: 1% 3.5% 6% 3.5%;
  margin: 20px 20px 20px;
  border-radius: 20px;
  height: 31rem;
  overflow-y: auto;
  scrollbar-width: none;
}